/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    overflow: hidden;
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Courier New', monospace; 
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Стили для страниц */
.about, .contacts, .articles, .portfolio {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.articles ul, .contacts ul {
    list-style: none;
    padding: 0;
}

.articles ul li, .contacts ul li {
    margin-bottom: 10px;
}

.articles ul li a {
    color: #333;
    text-decoration: none;
}

.articles ul li a:hover {
    text-decoration: underline;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#time-widget {
    position: fixed;
    bottom: 65px; 
    left: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#time-content {
    text-align: center;
}

#time-content h3 {
    font-family: 'Georgia', serif;
    margin: 0 0 10px;
    font-size: 17px;
}

#moscow-time, #novosibirsk-time {
    font-family: 'Georgia', serif;
    margin: 5px 0;
    font-size: 17px;
    font-style: italic;
}



/*#weather-widget {
    position: fixed;
    bottom: 60px; 
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#weather-content {
    text-align: center;
}

#weather-content h3 {
    margin: 0 0 10px;
    font-size: 16px;
}

#weather-description, #weather-temp {
    margin: 0;
    font-size: 14px;
}*/

/* for mobile phones */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    header {
        flex-direction: column; /* Меняем направление flex-контейнера */
        align-items: center;
    }

    nav ul {
        flex-direction: column; /* Меню в столбик */
    }

}